/* 
/////////////////////////////////////////////////////////////////////////
//
// © University of Southampton IT Innovation Centre, 2012
//
// Copyright in this software belongs to University of Southampton
// IT Innovation Centre of Gamma House, Enterprise Road, 
// Chilworth Science Park, Southampton, SO16 7NS, UK.
//
// This software may not be used, sold, licensed, transferred, copied
// or reproduced in whole or in part in any manner or form or in or
// on any media by any person other than in accordance with the terms
// of the Licence Agreement supplied with the software, or otherwise
// without the prior written consent of the copyright owners.
//
// This software is distributed WITHOUT ANY WARRANTY, without even the
// implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
// PURPOSE, except where stated in the Licence Agreement supplied with
// the software.
//
//      Created By :            Simon Crowle
//      Created Date :          01-Feb-2013
//      Created for Project :   EXPERIMEDIA
//
/////////////////////////////////////////////////////////////////////////
*/

@import "../chameleon/styles.css";


.eccDashDefault
{
  background-color: #F8F8F8;
  
  font-family: Arial;
  font-size: small;
  font-weight: 100;
}

.eccInfoPanel
{
  background-color: #FAFAFA;
  
  font-weight: 100;
  font-size: small;
  border: none;
}

.eccInfoSubPanel
{
  background-color: #FDFDFD;
  
  font-weight: 100;
  font-size: small;
  border: #FAFAFA;
}

.eccInfoPanelHighlight
{
  color: #EEEEEE; 
  background-color: #9292DE;
  
  font-weight: 200;
  font-size: small;
  
  border: #8282CE;
}

.eccGraphPanel
{
  color: #EEEEEE;
  background-color: #FAFAFF;
  
  font-family: Arial;
  font-weight: 100;
  font-size: small;
  
  border: #9292DE;
  border-top-style: ridge;
}
