#header {
	
	height: 481px;
	background: #90C8DB url('../img/header_bg.png') no-repeat;
	margin:0 0 10px 0;
	padding:0;
	/* cursor: pointer; */
	
}

	#langChanger p {
		position: absolute;
		cursor: pointer;
		top: 0;
		right: 200px;
		margin: 0;
		padding: 10px 20px;
		background: #90C8DB url('../img/form_bg.png') no-repeat;
		border: 0;
		color: #fff;
		-webkit-border-bottom-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-bottomright: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		-webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.25);
		box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.25);
	}
	#langChanger p:hover {
		text-decoration: underline;
	}

	div.loginFormBgBg {
		width: 347px;
		height: 221px;
		background-color: white;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		position: absolute;
		top: 144px;
		right: 90px;
		-webkit-box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.36);
		-moz-box-shadow:    0px 7px 4px rgba(0, 0, 0, 0.36);
		box-shadow:         0px 7px 4px rgba(0, 0, 0, 0.36);
	}
	
		div.loginFormBg {
			width: 333px;
			height: 207px;
			background: #90C8DB url('../img/form_bg.png') no-repeat;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
			position: absolute;
			top: 8px;
			left: 7px;
		}
	
	#loginForm {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	#loginForm input {
		width: 152px;
		height: 33px;
		font-size: 16px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 0;
		margin: 0 20px 0 0;
		padding: 1px 4px;
		-webkit-box-shadow: inset 1px 2px 1px 1px rgba(0, 0, 0, 0.54);
		-moz-box-shadow: inset 1px 2px 1px 1px rgba(0, 0, 0, 0.54);
		box-shadow: inset 1px 2px 1px 1px rgba(0, 0, 0, 0.54);	
		display: inline-block;	
		
	}
	
	#loginForm label {
		color: #FFF;
		font-family: "Gill Sans", "Gill Sans MT", sans-serif;
		font-size: 20px;
		margin: 0 12px 0 0;
		padding: 0;
		font-weight: lighter;
		display: inline-block;
		width: 120px;
		height: 33px;
	}
	
	div.inputsAndLabelsDiv {
		margin: 25px auto 0 auto;
		width: 100%;
		position: relative;
	}
	
		div.inputAndLabelDiv {
			width: 100%;
			margin: 10px auto;
			text-align: right;
		}
		
	div.registerOrLoginDiv {
		margin: 20px auto 0 auto;
		width: 100%;
		position: relative;
		text-align: right;	
	}
	
	div.registerOrLoginDiv p {
		margin: 0 5px 0 0;
		padding: 0;
		font-size: 20px;
		color: #FFF;
		font-family: "Gill Sans", "Gill Sans MT", sans-serif;
		font-weight: lighter;
	}
		
		div.registerOrLoginDiv p span#registerLink {
			margin: 0;
			padding: 0;
			text-decoration: underline;
			cursor: pointer;
		}
		
		div.registerOrLoginDiv p span#loginButton {
			margin: 0 15px 0 5px;
			padding: 6px 15px;
			text-decoration: none;
			font-size: 27px;
			font-weight: normal;
			border: 0;
			background: #E99520 url('../img/loginbtn_bg.png') repeat-x;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;		
			font-family: "Gill Sans", "Gill Sans MT", sans-serif;	
			-webkit-box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.34);
			-moz-box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.34);
			box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.34);	
			cursor: pointer;		
		}
		
		div.registerOrLoginDiv p span#loginButton:hover {	
			-webkit-box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.54);
			-moz-box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.54);
			box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.54);	
		}
		
		#loginerror {
			padding: 0;
			margin: 10px auto 0 auto;
			width: 300px;
			height: 28px;
			text-align: right;
			/* background-color: red; */
		}
		
		#loginerror p {
			color: red;
			margin: 0;
			padding: 8px;
		}

#content {
	width: 100%;
	min-height: 300px;
	background-color: white;
	margin: 0;
	padding:0;	
}
	
	#content h1 {
		font-size: 4em;
		font-weight: bold;
		margin: 20px 0 10px 20px;
		padding: 0;
		color: #000;
		width: 911px;
	}
	
	#thingsToDoDivWrapper {
		padding: 0 0 0 10px;
	}
		div.thingsToDoDiv {
			width: 250px;
			min-height: 100px;
			float:left;
			margin: 5px 0;
			padding: 0 25px;
			font-family: "Gill Sans", "Gill Sans MT", sans-serif;
			border-right: 1px solid #222;
		}
		
		div.norightborder {
			border-right: 0;
		}
		
		div.thingsToDoDiv h2 {
			font-size: 27px;
			padding: 0;
			margin: 20px 0;
			color: #000;
			font-weight: normal;
		}
		
		div.thingsToDoDiv p {
			font-size: 22px;
			color: #666;
			font-weight: lighter;
		}

	