*.project
*.log
*.settings
*.classpath
**/lib/
**/target/
**/bin/
**/obj/
**/gen/
/charm-rabbitmq-tal/precise/management/.bzr/
/extensions/dotNetClientAPI/sharedLibs/
doc/javaDoc/
doc/manual/
.vagrant/
