*.project
*.log
*.log.*
*.settings
*.classpath
**/lib/
lib/
**/target/
target/
**/bin/
bin/
**/obj/
obj/
**/gen/
**/ipch/
/charm-rabbitmq-tal/precise/management/.bzr/
doc/javaDoc/
doc/manual/
doc/build/
.vagrant/
thirdPartyLibs/*.war
thirdPartyLibs/*.jar
samples/basicAndroidClient/libs/
/eccService/src/main/webapp/explorer/eed/nbproject/private