*.project
*.log
*.settings
*.classpath
**/lib/
**/target/
**/bin/
**/obj/
**/gen/
/charm-rabbitmq-tal/precise/management/.bzr/
/extensions/dotNetClientAPI/sharedLibs/
doc/javaDoc/
doc/manual/
.vagrant/
/common/dataModel/metrics/lib/
/common/dataModel/provenance/lib/
/common/dataModel/experiment/lib/
/common/dataModel/monitor/lib/
/common/uif/lib/
/common/dataModel/test/lib/
/common/logging/spec/lib/
/common/logging/impls/lib/
/amqpAPI/impl/lib/
/amqpAPI/spec/lib/
/edc/configAPI/lib/
/em/spec/lib/
/em/factory/lib/
/edm/impl/lib/
/edm/spec/lib/
/edm/factory/lib/