<h5>Filters</h5>
            <hr>
            <div class="callout panel">
              <p>Select your filter options to get a visualisation of experiment data.</p>         
            </div>  
            <form method="get" action="">
              <div class="row">
                <div class="large-12 columns">
                    <select class="participant" required>
                        <option></option>
                    </select>
                </div>
              </div>
              <div class="row">
                <div class="large-12 text-center columns">
                  <select id="application" required>
                      <option></option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="large-12 text-center columns">
                  <select id="activity" required>
                    <option></option>
                    <option value="2">Activity 2</option>
                    <option value="3">Activity 3</option>
                    <option value="4">Activity 4</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="large-12 text-center columns">
                  <select id="service" required>
                    <option></option>
                    <option value="2">Service 2</option>
                    <option value="3">Service 3</option>
                    <option value="4">Service 4</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="large-12 text-center columns">
                  <select id="content" required>
                    <option></option>
                    <option value="2">Content 2</option>
                    <option value="3">Content 3</option>
                    <option value="4">Content 4</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="large-12 text-center columns ">
                  <p>
                    <button onclick="" class="medium button">Visualize</button>
                  </p>
                </div>
            </div>
            </form>