#nav {	
	background-color: #444;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
		-webkit-border-top-left-radius: 20px;
		-moz-border-radius-topleft: 20px;
		border-top-left-radius: 20px;	
}

	#nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		height: 50px;
		width: 100%;
	}
	
	#nav li {
		display: inline;
	}
	
	#nav li a {
		margin: 0;
		padding: 15px 15px;
		border-right: solid 1px #eee;
		height: 50px;
		line-height: 50px;
		font-size: 14px;
		color: white;
		text-decoration: none;
	}
	
	#nav li a:hover {
		text-decoration: underline;
	}
	
h1.pageHeader {
	margin: 10px 0 10px 10px;
	padding: 0;
	display: block;	
	font-size: 18px;
}

h2.error {
	color: red;
	margin: 10px 0 10px 0;
	padding: 0;
	display: block;	
	font-size: 16px;	
}

#titlePanel {
	width: 100%;
	margin: 5px 0;
}

#resultsPanel {
	float: left;
	width: 950px;
	margin: 0 10px;
	padding: 0;
/*	min-height: 400px; */
}

.sliderWrapper {
	height: 50px;
}

.wegovSlider {
}

.wegovRangeSlider {
}

.wegovSliderValue {
	position: relative;
	display: inline-block;
	height: 30;
	width: 50;
}

.wegovSliderValue p {
	text-align: center;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 0px;
	/* font-weight: bold; */
}

.k-grid td {
    border-style: solid;
    border-width: 0 0 0 1px;
    line-height: 1.6em;
    overflow: hidden;
    padding: 2px 7px 2px 7px;
    text-overflow: ellipsis;
    vertical-align: middle;
	border-bottom-width: 1px;
}

div.k-slider {
    -moz-user-select: none;
    background-color: transparent;
    border-width: 0;
    position: relative;
    vertical-align: middle;
}

.k-slider-horizontal {
    display: inline-block;
    height: 26px;
    width: 100px;
}

.k-slider-selection.positive {
    background-color: #00CC00;
}

.k-slider-selection.negative {
    background-color: #FF0000;
}

.k-slider-selection.controversy {
    background-color: #04AFE8;
}

.k-slider-selection.numPosts {
    background-color: #F0713A;
}

.k-slider-selection.relevance {
    background-color: #B302F9;
}


.k-draghandle.positive {
    background-color: #00CC00;
}

.k-draghandle.negative {
    background-color: #FF0000;
}

.k-draghandle.controversy {
    background-color: #04AFE8;
}

.k-draghandle.numPosts {
    background-color: #F0713A;
}

.k-draghandle.relevance {
    background-color: #B302F9;
}


.k-draghandle {
    border-radius: 10px;
}

.k-draghandle, .k-draghandle:hover {
    background-image: none;
}

	.singlePostWrapper {
		width: 600px;
		margin: 5px 0 15px 5px;
		padding: 0;
		position: relative;		
	}
	
	.singlePostWrapper img {
		float: left;
		width: 48px;
		height: 48px;
		margin: 0;
		padding: 0;
	}
	
	.postContentsWrapper {
		float: left;
		margin: 0 0 0 5px;
		width: 520px;
		display: block;
		font-size: 14px;
	}
	
	.postContentsWrapper a {
		color: #222;
	}
	
	.postContentsWrapper a.userName {
		font-weight: bold;
		width: 100%;
		margin: 0 0 5px 0;
		padding: 0;
		display: block;
		text-decoration: none;
	}
	
	.postContentsWrapper p.postContents {
		width: 100%;
		margin: 0 0 10px 0;
		padding: 0;		
		display: block;
	}
	
	.postContentsWrapper p.postTitle {
		width: 100%;
		margin: 0 0 3px 0;
		padding: 0;		
		display: block;
	}
	
	.postContentsWrapper p.postLikes {
		width: 100%;
		margin: -7px 0 0 0;
		padding: 0;		
		display: block;
		font-size: 12px;
	}
	
	.postContentsWrapper p.postID {
		width: 100%;
		margin: 3px 0 0 0;
		padding: 0;		
		display: block;
		font-size: 12px;
		color: #999;
	}
	
	.postContentsWrapper p.dateCreated {
		width: 300px;
		margin: 0;
		padding: 0;		
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		color: #999;
		font-size: 12px;
		text-align: right;
	}
	
	.postContentsWrapper a:hover {
		text-decoration: underline;
	}

	
div.koblenzUserWrapper, div.koblenzPostWrapper {
	width: 500px;
	padding: 0;
	margin: 5px 0 5px 15px;
	display: block;
}

	div.koblenzUserWrapper img {
		float: left;
		width: 48px;
		padding: 0;
		margin: 0;
		display: inline-block;
	}
	
	div.koblenzUserWrapper p {
		float: left;
		width: 440px;
		display: inline-block;
		padding: 0;
		margin: 0 0 5px 5px;
	}
	
	div.koblenzPostWrapper p {
		float: left;
		width: 470px;
		display: inline-block;
		padding: 0;
		margin: 0 0 5px 5px;	
	}
	
	a.koblenzTopicuserProfileLink {
		color: #222;
		padding: 5px 0;
/* 		margin: 0 0 0 20px; */
		display: inline;
/* 		width: 280px; */
		height: 15px;
	}
	
	p.koblenzKeyUsersLabel {
		display: inline;
		margin: 0 5px 0 0;
		padding: 5px 0;
		height: 15px;
	}
	
	p.koblenzTopicKeywords {
		font-weight: bold;
		width: 500px;
		margin: 0;
		padding: 1em 0;
		display: block;
		font-size: 14px;
	}
	
	p.koblenzTopicKeyusersHeader {
		width: 500px;
		margin: 0 0 0 10px;
		padding: 0;
		display: block;
	}
	
	p.koblenzTopicKeyPostHeader {
		width: 500px;
		margin: 20px 0 0 10px;
		padding: 0;
		display: block;	
	}
	
	
	

#otherPanel {
	float: left;
	width: 300px;
	margin: 0 10px 0 0;
	padding: 0;
	min-height: 400px;
}

	h2.settingsHeading {
		margin: 0 0 5px 0;
		padding: 0;
		display: block;	
		font-size: 16px;
		width: 100%;		
	}

	h2.settingsHeadingextraSpaceTop {
		margin: 10px 0 5px 0;
		padding: 0;
		display: block;	
		font-size: 16px;
		width: 100%;		
	}
	
	p.settingsValue {
		width: 100%;
		margin: 0 0 15px 15px;
		display: block;
		padding: 0;
		font-size: 14px;
	}
	
	a.hashtagItem {
		width: 100%;
		margin: 0 0 5px 15px;
		display: block;
		padding: 0;
		font-size: 14px;	
		color: #222;	
	}	

#historyWrapper {
	clear: both;
	width: 940px;
	margin: 10px 10px 0 10px;
	min-height: 400px;	
}

	h1.history {
		margin: 30px 0 10px 0;
		padding: 0;
		display: block;	
		font-size: 18px;		
	}
	
.k-grid-content tr {
	cursor: pointer;
}

