<h5>Participant - Activities, Applications & Services</h5>
<hr>
<div class="row" ng-model="participants">
    <div class="large-3 columns">
        <label>Participants
            <select 
            ng-model="participantSelection" 
            ng-change="getActivities()"
            ng-options="participant.iri as participant.name for participant in participants">
        </select>
        </label>
        <label id="activities">Activities
            <select 
            ng-model="activitySelection" 
            ng-change="getActivityInstancesNApps()"
            ng-options="activity.label for activity in activities"></select>
        </label>
        <label id="applications">Applications
            <select 
            ng-change="getServices()"
            ng-model="applicationSelection" 
            ng-options="app.name for app in applications"></select>
        </label>
        <label id="services">Services
            <select 
            ng-change="getServiceMetrics()"
            ng-model="serviceSelection" 
            ng-options="service.name for service in services" ></select>
        </label>
        <label id="serviceMetrics">Service Metrics
            <select 
            ng-change="timeSeries()"
            ng-model="serviceMetricSelection" 
            ng-options="serviceMetric.name for serviceMetric in serviceMetrics" ></select>
        </label>
    </div>
    <div class="large-9 columns">
        <div id="activityInstances" ng-model="activityInstances">
            <h6>Activity Instances: <strong>{{activityInstances.length}}</strong></h6>
            <table>
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="activity in activityInstances">
                    <td>{{activity.name}}</td>
                    <td>{{activity.description}}</td>
                    <td>{{activity.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{activity.endTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="qosChart">
        <svg></svg>
    </div>
</div>