<h5>Experiment Summary</h5>
<hr>        
<div class="panel hero">
    <p><strong>Experiment Name: </strong>{{summary.name}}</p>
    <p><strong>Experiment Description: </strong>{{summary.description}}</p>
</div>
<div class="row">
</div>
<a href="#/participants">
    <div class="large-6 text-center columns panel radius">
        <p><img src="icons/group/group-256.png"/></p>
        <p>Number of Participants</p>
        <p class="exp-sum">{{summary.participantCount}}</p>
    </div>
</a>
<div class="large-6 text-center columns panel radius">
    <p><img src="icons/smartphone_tablet/smartphone_tablet-256.png"/></p>
    <p>Number of Applications</p>
    <p class="exp-sum">{{summary.applicationsUsedCount}}</p>
</div>
<div class="large-6 text-center columns panel radius">
    <p><img src="icons/skiing/skiing-256.png"/></p>
    <p>Number of Activities</p>
    <p class="exp-sum">{{summary.activitiesPerformedCount}}</p>
</div>
<div class="large-6 text-center columns panel radius">
    <p><img src="icons/services/services-256.png"/></p>
<!--    <img data-interchange="
         [icons/services/services-128.png, (default)], 
         [/icons/services/services-256.png, (large), 
         [/icons/services/services-64.png, (small)]">-->
    <p>Number of Services</p>
    <p class="exp-sum">{{summary.servicesUsedCount}}</p>
</div>
