<h5>Please select an Experiment</h5>
<hr>
<div class="row">
    <div class="large-12 columns">
        <table>
            <thead>
<!-- find out is there a way to get table header info from the json 
nice way to represent tables using angular ng-table-->
                <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Phase</th>
                <th>Status</th>
                <th>Project Name</th>
                <th>Start Time</th>
                <th>End Time</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in experiments">
                <td><a href="#/experiment?uuid={{item.uuid}}">{{item.name}}</a></td>
                <td>{{item.description}}</td>
                <td>{{item.phase}}</td>
                <td>{{item.status}}</td>
                <td>{{item.projectName}}</td>
                <td>{{item.startTime}}</td>
                <td>{{item.endTime}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>