<h4>List of Experiments</h4>
<div class="row">
    <div class="large-12 columns">
        <p>Number of experiments on the ECC: <strong>{{experiments.length}}</strong></p>
        <p>Select the experiment you would like to view from the list below.</p>
        <table style="margin: 0 auto;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Phase</th>
                    <th>Status</th>
                    <th>Project Name</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="experiment in experiments">
                    <td><a href="#/experiment?uuid={{experiment.uuid}}">{{experiment.name}}</a></td>
                    <td>{{experiment.description}}</td>
                    <td>{{experiment.phase}}</td>
                    <td>{{experiment.status}}</td>
                    <td>{{experiment.projectName}}</td>
                    <td>{{experiment.startTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                    <td>{{experiment.endTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>