<h5>QoE of Experiment Participants</h5>
<hr>
<div class="row">
    <div class="large-2 columns">
        <h6>Participants</h6>
        <table>
            <thead>
    <!-- find out is there a way to get table header info from the json 
    nice way to represent tables using angular ng-table-->
                <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in participants" ng-click="showParticipant(item)">
                    <td><a ng-href="#/participants/qoe?iri={{item.iri | encodeURIComponent}}">{{item.name}}</a></td>
                    <td>{{item.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="large-10 columns">
        <h6>Attributes</h6>
        <table>
            <thead>
<!-- find out is there a way to get table header info from the json 
nice way to represent tables using angular ng-table-->
                <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Metric Type</th>
                <th>Sample Count</th>
                <th>Meta Content</th>
                <th>Meta Type</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in attributes">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.metricType}}</td>
                <td>{{item.sampleCount}}</td>
                <td>{{item.metaContent}}</td>
                <td>{{item.metaType}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="large-4 columns">
        <label>Participants</label>
        <select ng-model="participantSelection" ng-options="participant.name for participant in participants"></select>
    </div>
    <div class="large-4 columns">
        <label>Applications</label>
        <select ng-model="appSelection" ng-options="app.name for app in applications"></select>
    </div>
    <div class="large-4 columns">
        <label>Attributes</label>
        <select ng-model="attributeSelection">
            <option value="All">All</option>
            <option ng-repeat="attribute in attributes">{{attribute.name}}</option>
        </select>
    </div>
</div>
<div id="charts" class="row" ng-show="visualize(participantSelection, attributeSelection)">
    <h3 class="text-center">QoE responses of Participants</h3>
    <div id="chart1"></div>
    <div id="chart2"></div>
    <div id="chart3"></div>
</div>