<h5>QoE of Participants recorded at the end of the experiment</h5>
<hr>
<h2 id="heroStat"><strong>{{participants.length}}</strong> participants</h2>
<div class="row">
    <div class="large-6 columns">
        <label>Participants</label>
        <select 
            
            ng-model="participantSelection" 
            ng-options="participant.iri as participant.name for participant in participants">
            <option value="">All</option>
        </select>
    </div>
    <div class="large-6 columns">
        <label>Attributes</label>
        <select 
            
            ng-model="attributeSelection" 
            ng-options="attribute.name as attribute.name for attribute in attributes">
            <option value="">All</option>
        </select>
    </div>
    <button ng-click="viz()">POST</button>
</div>
<div id="charts" class="row">
    <div id="chart1"><svg class="large-6 text-center columns"></svg></div>
    <div id="chart2"><svg class="large-6 text-center columns"></svg></div>
    <div id="chart3"><svg class="large-12 text-center columns"></svg></div>
</div>
<div class="row">
    <div class="large-2 columns">
        <h6>Participants</h6>
        <table>
            <thead>
    <!-- find out is there a way to get table header info from the json 
    nice way to represent tables using angular ng-table-->
                <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in participants" ng-click="showParticipant(item)">
                    <td><a ng-href="#/participants/qoe?iri={{item.iri | encodeURIComponent}}">{{item.name}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="large-10 columns">
        <h6>Attributes</h6>
        <table>
            <thead>
<!-- find out is there a way to get table header info from the json 
nice way to represent tables using angular ng-table-->
                <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Metric Type</th>
                <th>Sample Count</th>
                <th>Meta Content</th>
                <th>Meta Type</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in attributes">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.metricType}}</td>
                <td>{{item.sampleCount}}</td>
                <td>{{item.metaContent}}</td>
                <td>{{item.metaType}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
