<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Vaadin Web Application</display-name>
    
    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>
    
    <session-config>
      <session-timeout>-1</session-timeout>
    </session-config>
    
    <!-- ECC servlet context listener -->
    <listener>
        <listener-class>uk.ac.soton.itinnovation.experimedia.arch.ecc.dash.entryPoint.ECCDashContextListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>ECC Dash Servlet</servlet-name>
        <servlet-class>uk.ac.soton.itinnovation.experimedia.arch.ecc.dash.entryPoint.ECCDashServlet</servlet-class>
        <init-param>
            <description>ECC Entry point</description>
            <param-name>application</param-name>
            <param-value>uk.ac.soton.itinnovation.experimedia.arch.ecc.dash.entryPoint.EntryPoint</param-value>
        </init-param>
        
        <!-- Widgetsets ____________________________________________________ -->
        <init-param>
          <param-name>widgetset</param-name>
          <param-value>com.invient.vaadin.InvientChartsDemoAppWidgetset</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
      <servlet-name>ECC Dash Servlet</servlet-name>
      <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
</web-app>
