<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="experimediaComponent" class="org.restlet.ext.spring.SpringComponent">
		<property name="defaultTarget" ref="experimediaApplication" />
	</bean>

	<bean id="experimediaApplication" class="eu.experimedia.itinnovation.ecc.web.application.ExperimediaApplication">
		<property name="root" ref="router" />
	</bean>

	<!-- Define the router -->
	<bean name="router" class="org.restlet.ext.spring.SpringBeanRouter" />

	<!-- Define all the routes -->
	<bean name="/" class="eu.experimedia.itinnovation.ecc.web.application.ExperimediaApplication"
		scope="prototype" autowire="byName" />

</beans>
