.alert-color {
    color: #f04124;
}

.success-color {
    color: #43AC6A;
}

#activeProjectConfigForm {
    padding-top: 12px;
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}