p.clientitem {
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
}

p.clientitem span {
    font-size: smaller;
    display: block;
    color: #555;
}

p.entitiesitem {
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
}

p.attributesitem {
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
}

div.capabilitieslistbg {
    background-color: #fff;
    min-height: 450px;
    padding: 0 5px;
}

p.clientHeader {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
}

p.clientDescription {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #555;
}

h4.monitorControl p span {
    font-weight: bold;
}

div.experimentInfo {
    display: none;
}

p.metricMonitorHeader {
    font-weight: bold;
    margin: 0;
    padding: 10px 0 0 0;
}

p.metricMonitorDescription {
    margin: 0;
    padding: 0;
}

.moreDetailsRow {
    padding: 10px 0 0 0;
}