p.metricgenitem {
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
}

p.metricgenitem span {
    font-size: smaller;
    display: block;
    color: #555;
}

div.attributediv {
    border: 1px solid #333;
    padding: 0;
    -webkit-box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    2px 2px 7px rgba(50, 50, 50, 0.5);
    box-shadow:         2px 2px 7px rgba(50, 50, 50, 0.5);
    width: 100%;
    margin: 0 0 15px 0;
}

div.attributediv p.header {
    background-color: #fff;
    color: #333;
    padding: 2px 4px 2px 8px;
    font-weight: bold;
    position: relative;
    font-size: 12px;
    margin: 0;
}

div.attributediv p.parameters {
    margin: 0;
    padding: 0 0 0 8px;
    font-size: 11px;
}

p.header span {
    color: #555;
    position: absolute;
    top: 4px;
    right: 6px;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
}

.jqplot-title {
    font-size: 14px;
}

table.metricstable {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid #fff;
    font-size: 11px;
}

table.metricstable tr:nth-child(odd) {
    background-color: rgb(245, 245, 245);
}

table.metricstable tr:nth-child(even) {
    background-color: rgb(253, 253, 253);
}

table.metricstable th {
    height: 25px;
    background-color: rgb(230, 230, 230);
    padding: 1px 2px;
    border-bottom: 1px solid #fff;
}

table.metricstable td {
    height: 18px;
    padding: 2px 2px;
}

.graphDataSwitcher {
    width: 100%;
    padding: 10px 0 0 8px;
    height: 40px;
}

.switchbutton {
    border: 1px solid #333;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    float: left;
    text-align: center;
    width: 120px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
    color: #2284a1;
    font-weight: bold;
}

.graphDataSwitcher .active {
    background-color: #fff;
    background-color: #2284a1;
    color: #fff;   
    cursor: default;
}
.graphDataSwitcher .active p {
    font-weight: bold;
}

.switchbutton p {
    line-height: 22px;        
}

p.metricGeneratorHeader {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
}

p.metricGeneratorDescription {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #555;
}

p.metricGeneratorSubheader {
    font-size: 10px;
    color: #555;
    padding: 0;
    margin: 0 0 15px 0;
}

p.metricGroupHeader {
    margin: 10px 0 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 12px;
}

p.metricGroupSubheader {
    font-size: 10px;
    color: #555;
    padding: 0;
    margin: 0 0 15px 0;
}

p.measurementSetHeader {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

p.measurementSetSubheader {
    font-size: 10px;
    color: #555;
    padding: 0;
    margin: 0;
}
